<h1>All Products</h1>

    
<!-- Sorting by session sort preference -->
<% @products.each do |product| %>
  <article class="product-module">
  <p><%= image_tag product.photo.url(:medium) %></p>
  <p>
    <strong><%= link_to product.name, product %></strong><br />
    $<%= product.formatted_price %>
  </p>
  </article>
<% end %>
